<h1> The `pandas` library</h1>
  
The easiest way to store our measurement data instead of `numpy.array`s or `list`s is the `DataFrame` class of the `pandas` library. Here, apart from storing the numbers, we can also label the rows and the columns, and we can have a different type in each column.

We can think of a `DataFrame` as a common Excel table, because the methods that belong to this class are very similar to functions from Excel.

Next, we are going to have a look at the various possibilities of `pandas`.

1. accessing data, `DataFrame` class, reading and writing files [link](01-Pandas_load_data.ipynb)
2. simple operations, masking or filtering [link](02-Pandas_basic_operations.ipynb)
3. using it as a database 1. (groupby) [link](03-Pandas_groupby.ipynb)
4. statistics and plotting (seaborn) [link](04-Pandas_stat_plot.ipynb)
5. using it as a database 2. (concat, join, apply, pivot) [link](05-Pandas_adv_topics.ipynb)

# `DataFrame` class, reading/writing data

We can load the `pandas` package by using the usual `import` syntax.

In [1]:
import pandas as pd

We can read from file with the function called `read_csv()`. The returned table is going to be of the type `DataFrame`.

In [2]:
df = pd.read_csv("data/smallpeople.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

If we only print the table, we have a nicely formatted output:
* the first row contains the names of the columns
* the first column  contains the identifiers of the rows, that is the so-called index column
* the rest of the table contains the actual data

In [ ]:
df

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
2    Stephen        5       4    male   19  12:35
3       Jane        3       5  female   20  14:50
4    Charles        4       .    male   21  14:55

We can access one column of a table by using its name, as if it were (it is, actually) an element of a dictionary.

In [ ]:
df['Grade_P']

0    2
1    4
2    5
3    3
4    4
Name: Grade_P, dtype: int64

The returned column has a complex structure, that still contains the index and the name of the column. This type is the `pandas.Series`.

In [ ]:
type(df['Grade_P'])

pandas.core.series.Series

Most of the time, we can use them similarly to numpy arrays.

In [ ]:
df['Grade_P']**2

0     4
1    16
2    25
3     9
4    16
Name: Grade_P, dtype: int64

But we can also obtain the array storing the data.

In [ ]:
df['Grade_P'].values

array([2, 4, 5, 3, 4])

We can also use the `.loc[]` construction, that is able to get both columns and rows by their names.

Column

In [7]:
df.loc[:,'Grade_P']

0    2
1    4
2    5
3    3
4    4
Name: Grade_P, dtype: int64

Row. Rows are also `Series` objects.

In [ ]:
df.loc[1,:]

Name        Sarah
Grade_P         4
Grade_J         4
Gender     female
Age            22
Date        13:20
Name: 1, dtype: object

To get only one element:

In [ ]:
df.loc[0,'Grade_P']

2

Later, we'll get back to the indexing of these `DataFrame`s. Now, let's have a look at the file IO!

## Input

## read_csv()

One of the fastest and most flexible tools of Python is the `read_csv()` function of the `pandas` module. Let's have a look at some of its most important arguments!

#### Character separating columns:  `sep` .

Most of the time, the columns in our tables are separated by a tabulator or a comma in simple text files, that we can set by using the `sep` keyword argument.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",sep=',')
df.head()

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
2    Stephen        5       4    male   19  12:35
3       Jane        3       5  female   20  14:50
4    Charles        4       .    male   21  14:55

If we set it wrong, then usually, we'll only have one column in the table.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",sep=' ')
df

  Name,Grade_P,Grade_J,Gender,Age,Date
0          Valentine,2,.,male,20,12:31
1            Sarah,4,4,female,22,13:20
2            Stephen,5,4,male,19,12:35
3             Jane,3,5,female,20,14:50
4            Charles,4,.,male,21,14:55

Or the function throws an error about not having the same number of columns in each row.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",sep='p')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

#### header

We can set if there is a header, and at which line it is located in the textfile.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",header=0)
df

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
2    Stephen        5       4    male   19  12:35
3       Jane        3       5  female   20  14:50
4    Charles        4       .    male   21  14:55

If there is no header, then the first row of the textfile is going to be the first row of the table.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",header=None)
df

           0        1        2       3    4      5
0       Name  Grade_P  Grade_J  Gender  Age   Date
1  Valentine        2        .    male   20  12:31
2      Sarah        4        4  female   22  13:20
3    Stephen        5        4    male   19  12:35
4       Jane        3        5  female   20  14:50
5    Charles        4        .    male   21  14:55

If we set a later line such as 3, then the table is only going to begin thereafter, and all former lines are skipped.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",header=3)
df

   Stephen  5  4    male  19  12:35
0     Jane  3  5  female  20  14:50
1  Charles  4  .    male  21  14:55

#### index_col (index column)

Index column is displayed slightly differently.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",index_col='Name')
df.head()

           Grade_P Grade_J  Gender  Age   Date
Name
Valentine        2       .    male   20  12:31
Sarah            4       4  female   22  13:20
Stephen          5       4    male   19  12:35
Jane             3       5  female   20  14:50
Charles          4       .    male   21  14:55

This column behaves similary to the previous index consisting of numbers.

In [ ]:
df['Grade_P']

Name
Valentine    2
Sarah        4
Stephen      5
Jane         3
Charles      4
Name: Grade_P, dtype: int64

In [ ]:
df.loc['Valentine',:]

Grade_P        2
Grade_J        .
Gender      male
Age           20
Date       12:31
Name: Valentine, dtype: object

####  nrows

Reading only the first few columns of a very big datafile.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",nrows=2)
df

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20

#### na_values

If someone sets missing values for example by writing a `.` instead of the missing data, we can tell the csv reader to set it to `NaN`. This can be important when computing averages etc.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",na_values=['.'])
df

        Name  Grade_P  Grade_J  Gender  Age   Date
0  Valentine        2      NaN    male   20  12:31
1      Sarah        4      4.0  female   22  13:20
2    Stephen        5      4.0    male   19  12:35
3       Jane        3      5.0  female   20  14:50
4    Charles        4      NaN    male   21  14:55

#### parse_dates (handling dates)

The default behaviour is to do nothing with the columns that look like a date or a time.

In [ ]:
df=pd.read_csv("data/smallpeople.csv")
df

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
2    Stephen        5       4    male   19  12:35
3       Jane        3       5  female   20  14:50
4    Charles        4       .    male   21  14:55

In [ ]:
df['Date']

0    12:31
1    13:20
2    12:35
3    14:50
4    14:55
Name: Date, dtype: object

But we can tell `read_csv()` to do so.

In [ ]:
df=pd.read_csv("data/smallpeople.csv",parse_dates=['Date'])
df

        Name  Grade_P Grade_J  Gender  Age                Date
0  Valentine        2       .    male   20 2020-09-15 12:31:00
1      Sarah        4       4  female   22 2020-09-15 13:20:00
2    Stephen        5       4    male   19 2020-09-15 12:35:00
3       Jane        3       5  female   20 2020-09-15 14:50:00
4    Charles        4       .    male   21 2020-09-15 14:55:00

In [ ]:
df['Date']

0   2020-09-15 12:31:00
1   2020-09-15 13:20:00
2   2020-09-15 12:35:00
3   2020-09-15 14:50:00
4   2020-09-15 14:55:00
Name: Date, dtype: datetime64[ns]

#### compression (reading compressed files)

Data is smaller and faster to read when it is compressed.

In [ ]:
df=pd.read_csv("data/smallpeople.csv.gz")
df

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
2    Stephen        5       4    male   19  12:35
3       Jane        3       5  female   20  14:50
4    Charles        4       .    male   21  14:55

#### We can read big files in chuncks

In [ ]:
for ch in pd.read_csv("data/smallpeople.csv.gz",iterator=True,chunksize=2):
    print(ch)
    # here we do something with it

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
      Name  Grade_P  Grade_J  Gender  Age   Date
2  Stephen        5        4    male   19  12:35
3     Jane        3        5  female   20  14:50
      Name  Grade_P Grade_J Gender  Age   Date
4  Charles        4       .   male   21  14:55

We can read big files faster, if we only need a handful of columns:

In [ ]:
pd.read_csv("data/smallpeople.csv.gz",usecols=['Name','Gender'])

        Name  Gender
0  Valentine    male
1      Sarah  female
2    Stephen    male
3       Jane  female
4    Charles    male

#### Further settings:

In [ ]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

## Writing to csv

The default setting is to write the indices out.

In [ ]:
df.to_csv('tmp.tsv')

In [ ]:
%cat tmp.tsv

,Name,Grade_P,Grade_J,Gender,Age,Date
0,Valentine,2,.,male,20,12:31
1,Sarah,4,4,female,22,13:20
2,Stephen,5,4,male,19,12:35
3,Jane,3,5,female,20,14:50
4,Charles,4,.,male,21,14:55

If we don't want that:

In [ ]:
df.to_csv('tmp.csv',index=False)

In [ ]:
%cat tmp.csv

Name,Grade_P,Grade_J,Gender,Age,Date
Valentine,2,.,male,20,12:31
Sarah,4,4,female,22,13:20
Stephen,5,4,male,19,12:35
Jane,3,5,female,20,14:50
Charles,4,.,male,21,14:55

We can set the column separator again by using the `sep` argument.

In [ ]:
df.to_csv('tmp.tsv',sep='\t')

In [8]:
%cat

01-Pandas_load_data.ipynb         Ex-Pandas_apply_seaborn.ipynb
02-Pandas_basic_operations.ipynb  Ex-Pandas_dates_twitter-json.ipynb
03-Pandas_groupby.ipynb           Ex-Pandas-load-masking-sorting.ipynb
04-Pandas_stat_plot.ipynb         Ex-Pandas-merge-groupby.ipynb
05-Pandas_adv_topics.ipynb        Readme.md
data/

We can write compressed.

In [ ]:
df.to_csv('tmp.csv.gz')

We can set the format of floating point numbers.

In [ ]:
df.to_csv('tmp.csv',float_format='%.2f')

In [ ]:
%cat tmp.csv

,Name,Grade_P,Grade_J,Gender,Age,Date
0,Valentine,2,.,male,20,12:31
1,Sarah,4,4,female,22,13:20
2,Stephen,5,4,male,19,12:35
3,Jane,3,5,female,20,14:50
4,Charles,4,.,male,21,14:55

## Other file I/O functions

We can read Excel.

In [ ]:
df=pd.read_excel('data/smallpeople.xlsx')
df

        Name  Grade_P Grade_J  Gender  Age   Date
0  Valentine        2       .    male   20  12:31
1      Sarah        4       4  female   22  13:20
2    Stephen        5       4    male   19  12:35
3       Jane        3       5  female   20  14:50
4    Charles        4       .    male   21  14:55

And write to Excel.

In [ ]:
df.to_excel('tmp.xlsx')

# Reading a dictionary, the `json` format

It is very common that web APIs return results as a dictionary-like text, in the so-called JSON (JavaScript Object Notation) format. We can turn them to Python dictionaries by using the `json` library.

In [9]:
import json

Each line of the `data/json_example` file is such a dictionary, that we got from the Google Geocoding API. Load these lines into a `list` containing dictionaries with the following command:

In [ ]:
d = []
for s in open("data/json_example").readlines():
    d.append(json.loads(s))

In [ ]:
d=[json.loads(s) for s in open("data/json_example").readlines()]
d[0:2]

[{'results': [{'address_components': [{'long_name': 'Les Escaldes',
      'short_name': 'Les Escaldes',
      'types': ['locality', 'political']},
     {'long_name': 'Escaldes-Engordany',
      'short_name': 'Escaldes-Engordany',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'Andorra',
      'short_name': 'AD',
      'types': ['country', 'political']},
     {'long_name': 'AD700', 'short_name': 'AD700', 'types': ['postal_code']}],
    'geometry': {'location_type': 'APPROXIMATE',
     'location': {'lng': 1.5387862, 'lat': 42.5100804},
     'viewport': {'southwest': {'lng': 1.5285531, 'lat': 42.5067774},
      'northeast': {'lng': 1.5532685, 'lat': 42.5168669}},
     'bounds': {'southwest': {'lng': 1.5285531, 'lat': 42.5067774},
      'northeast': {'lng': 1.5532685, 'lat': 42.5168669}}},
    'types': ['locality', 'political'],
    'place_id': 'ChIJaxpK9OKKpRIRtp4e8lTF3v0',
    'formatted_address': 'AD700 Les Escaldes, Andorra'}],
  'query': 'les+Escaldes+AD',
  'id': '3040051',
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Les Escaldes',
      'short_name': 'Les Escaldes',
      'types': ['locality', 'political']},
     {'long_name': 'Escaldes-Engordany',
      'short_name': 'Escaldes-Engordany',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'Andorra',
      'short_name': 'AD',
      'types': ['country', 'political']},
     {'long_name': 'AD700', 'short_name': 'AD700', 'types': ['postal_code']}],
    'geometry': {'location_type': 'APPROXIMATE',
     'location': {'lng': 1.5387862, 'lat': 42.5100804},
     'viewport': {'southwest': {'lng': 1.5285531, 'lat': 42.5067774},
      'northeast': {'lng': 1.5532685, 'lat': 42.5168669}},
     'bounds': {'southwest': {'lng': 1.5285531, 'lat': 42.5067774},
      'northeast': {'lng': 1.5532685, 'lat': 42.5168669}}},
    'types': ['locality', 'political'],
    'place_id': 'ChIJaxpK9OKKpRIRtp4e8lTF3v0',
    'formatted_address': 'AD700 Les Escaldes, Andorra'}],
  'query': 'les+Escaldes+AD',
  'id': '3040051',
  'status': 'OK'}]

We see, that the list elements contain the same keys, thus, it would make sense to create a table from this list.

In [ ]:
pd.DataFrame.from_dict(d)

,results,query,id,status
0,[{'address_components': [{'long_name': 'Les Es...,les+Escaldes+AD,3040051,OK
1,[{'address_components': [{'long_name': 'Les Es...,les+Escaldes+AD,3040051,OK
2,[{'address_components': [{'long_name': 'Les Es...,les+Escaldes+AD,3040051,OK
3,[{'address_components': [{'long_name': 'Andorr...,Andorra+la+Vella+AD,3041563,OK
4,[{'address_components': [{'long_name': 'Umm Al...,Umm+al+Qaywayn+AE,290594,OK
5,[{'address_components': [{'long_name': 'Ras Al...,Ras+al-Khaimah+AE,291074,OK
6,[{'address_components': [{'long_name': 'Les Es...,les+Escaldes+AD,3040051,OK
7,[{'address_components': [{'long_name': 'Andorr...,Andorra+la+Vella+AD,3041563,OK
8,[{'address_components': [{'long_name': 'Umm Al...,Umm+al+Qaywayn+AE,290594,OK
9,[{'address_components': [{'long_name': 'Ras Al...,Ras+al-Khaimah+AE,291074,OK
10,[{'address_components': [{'long_name': 'Khor F...,Khawr+Fakkan+AE,291696,OK
11,[{'address_components': [{'long_name': 'Dubai'...,Dubai+AE,292223,OK
12,[{'address_components': [{'long_name': 'Dibba ...,Dibba+Al-Fujairah+AE,292231,OK
13,[{'address_components': [{'long_name': 'Dibba ...,Dibba+Al-Hisn+AE,292239,OK
14,[{'address_components': [{'long_name': 'Sharja...,Sharjah+AE,292672,OK
15,[{'address_components': [{'long_name': 'Ruwais...,Ar+Ruways+AE,292688,OK
16,[{'address_components': [{'long_name': 'Fujair...,Al+Fujayrah+AE,292878,OK
17,[{'address_components': [{'long_name': 'Al Ain...,Al+Ain+AE,292913,OK
18,[{'address_components': [{'long_name': 'Ajman'...,Ajman+AE,292932,OK
19,[{'address_components': [{'long_name': 'Al Dha...,Adh+Dhayd+AE,292953,OK
20,[{'address_components': [{'long_name': 'Abu Dh...,Abu+Dhabi+AE,292968,OK
21,[{'address_components': [{'long_name': 'Zaranj...,Zaranj+AF,1120985,OK
22,[{'address_components': [{'long_name': 'Taleqa...,Taloqan+AF,1123004,OK
23,[{'address_components': [{'long_name': 'Shinda...,Shindand+AF,1125155,OK
24,[{'address_components': [{'long_name': 'Sheber...,Shibirghan+AF,1125444,OK
25,[{'address_components': [{'long_name': 'Shahra...,Shahrak+AF,1125896,OK
26,[{'address_components': [{'long_name': 'Sare P...,Sar-e+Pul+AF,1127110,OK
27,[{'address_components': [{'long_name': 'Sangch...,Sang-e+Charak+AF,1127628,OK
28,[{'address_components': [{'long_name': 'Aybak'...,Aibak+AF,1127768,OK
29,[{'address_components': [{'long_name': 'Rostaq...,Rustaq+AF,1128265,OK
30,[{'address_components': [{'long_name': 'Qarqin...,Qarqin+AF,1129516,OK
31,[{'address_components': [{'long_name': 'Hazart...,Qarawul+AF,1129648,OK
32,[{'address_components': [{'long_name': 'Pol-e-...,Pul-e+Khumri+AF,1130490,OK
33,[{'address_components': [{'long_name': 'Paghma...,Paghman+AF,1131316,OK
34,[{'address_components': [{'long_name': 'Nahrai...,Nahrin+AF,1132495,OK
35,[{'address_components': [{'long_name': 'Mayman...,Maymana+AF,1133453,OK
36,[{'address_components': [{'long_name': 'Mitarl...,Mehtar+Lam+AF,1133574,OK
37,[{'address_components': [{'long_name': 'Mazari...,Mazar-e+Sharif+AF,1133616,OK
38,[{'address_components': [{'long_name': 'Lashka...,Lashkar+Gah+AF,1134720,OK
39,"[{'address_components': [{'long_name': 'Kūšk',...",Kushk+AF,1135158,OK
40,[{'address_components': [{'long_name': 'Kunduz...,Kunduz+AF,1135689,OK
41,[{'address_components': [{'long_name': 'Khost'...,Khost+AF,1136469,OK
42,[{'address_components': [{'long_name': 'Kholm'...,Khulm+AF,1136575,OK
43,[{'address_components': [{'long_name': 'Khash'...,Khash+AF,1136863,OK
44,[{'address_components': [{'long_name': 'Khanab...,Khanabad+AF,1137168,OK
45,[{'address_components': [{'long_name': 'Karokh...,Karukh+AF,1137807,OK
46,[{'address_components': [{'long_name': 'Kandah...,Kandahar+AF,1138336,OK
47,[{'address_components': [{'long_name': 'Kabul'...,Kabul+AF,1138958,OK
48,[{'address_components': [{'long_name': 'Jalala...,Jalalabad+AF,1139715,OK
49,[{'address_components': [{'long_name': 'Jabal-...,Jabal+os+Saraj+AF,1139807,OK